<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManosADomicilio">
        <activity
            android:name=".view.InicioSesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.CategoriaCerrajeria" android:exported="true"/>
        <activity android:name=".view.CategoriaFumigacion" android:exported="true"/>
        <activity android:name=".view.CategoriaJardineria" android:exported="true"/>
        <activity android:name=".view.CategoriaLimpieza" android:exported="true"/>
        <activity android:name=".view.CategoriaPintura" android:exported="true"/>
        <activity android:name=".view.DashboardTrabajador" />
        <activity android:name=".view.DetalleServicioActivity" />
        <activity android:name=".view.DetalleServicioAsignado" />
        <activity android:name=".view.DetalleTrabajador"/>
        <activity android:name=".view.EditarPerfilTrabajador" />
        <activity android:name=".view.Favoritos" />
        <activity android:name=".view.GestionarZonasActivity" />
        <activity android:name=".view.HistorialServicios" />
        <activity android:name=".view.Home" android:exported="true"/>
        <activity android:name=".view.Perfil" android:exported="true"/>
        <activity android:name=".view.RegistroTrabajador" android:exported="true"/>
        <activity android:name=".view.RegistroUsuario" android:exported="true"/>
        <activity android:name=".view.Soporte" />
        <activity android:name=".view.SolicitudServicio"/>
    </application>

</manifest>
